
.content img{
    max-width: 100%;
    /*position: absolute;*/
    /*left: 50%;*/
    /*top: 50%;*/
    /*transform: translate(-50%,-50%);*/
}

.my_avatar{
    position: relative;
    text-align: center;
}

.my_avatar div{
    color: #000;
    text-decoration: none;
    font-weight: 700;
    height: 100px;
    width: 100px;
    font-size: 1.5em;
    border-radius: 100%;
    display: inline-block;
    text-align: center;
    line-height: 100px;
    border: 5px solid #fff;
    box-sizing: border-box;
}

.my_avatar div img{
    max-width: 100%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.15);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.my_avatar div img:hover{
    border:1px solid #CBCBCB;
}
.divider{
    background: #ddd;
    background: -webkit-gradient(linear, left top, right top, from(rgba(255,255,255,0)), color-stop(#ccc), to(rgba(255,255,255,0)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,0), #ccc, rgba(255,255,255,0));
    background: linear-gradient(to right, rgba(255,255,255,0), #ccc, rgba(255,255,255,0));
    height: 1px;
    margin: 2em 0;
}

.title{
    font-size: 1.4em;
    text-align: center;
    font-family: Georgia;
}
.logo-prompt {
    vertical-align: middle;
    padding: 5px;
    border-radius: 3px;
    background: #666;
    background: rgba(0,0,0,0.5);
    margin-left: 15px;
    color: #fff;
    font-size: 0.8235em;
    text-align: center;
    line-height: 1.2;
    top: 50%;
    margin-top: -10px;
    font-family: Consolas, monaco, monospace;
}

.logo-prompt a{
    color: white;
}